
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --orange: #ff7000;
    --white: #ffffff;
    --white-f8: #f8f8f8;
    --white-fa:#faf4f0;
    --white-f1:#f1f1f1;
    --gray-ba: #bababa;
    --gray-4a:#4a4a4a;
    --gray-4: #444444;
    --gray-3: #333333;
    --gray-2: #222222;
    --gray-rgb-41: rgba(41, 40, 40, 0.8);
    --black: #000000;
    --roboto: 'Roboto', sans-serif;
    --lora:'Lora', serif;
    --openSans: 'Open Sans', sans-serif;
}
html {
  font-size: 16px;
  font-family: var(--roboto);
}
body {margin: 0; }

a {text-decoration: none; }

.orange-bg {background-color: var(--orange);}
.white-bg {background-color: var(--white);}
.gray-bg {background-color: var(--gray-3);}

.text-white {color:var(--white);}
.text-orange {color:var(--orange);}
.text-gray-3 {color:var(--gray-3);}

.col-1 { grid-area: col-1;}
.col-2 { grid-area: col-2;}
.col-3 {grid-area: col-3;}
.col-4 {grid-area: col-4;}
.col-5 {grid-area: col-5;}
.col-6 {grid-area: col-6;}
.col-7 {grid-area: col-7;}
.col-8 {grid-area: col-8;}
.col-9 {grid-area: col-9;}

.container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
.white-container {text-align: center;background-color: var(--white);}
.white-f1-container {text-align: center;background-color: var(--white-f1);}
.orange-container {text-align: center;background-color: var(--orange);}
.gray-3-container {text-align: center;background-color: var(--gray-3);}

.flex-container {display: flex;}
.flex-col-1 {display: flex;flex-direction: column;}
.flex-row {display: flex;flex-direction: row;align-items: center;}
.flex-between {display: flex; justify-content: space-between;}
.flex-end {display: flex; justify-content: flex-end;}

.section-heading h1{
  margin: 0;
  font-family: var(--lora);
  font-weight: 700;
  font-size: 3.375rem;
  line-height: 69px;
  color: var(--gray-2);
}
.section-heading h1:after {
  content:"";
  display: block;
  width: 100px;
  border-top: 3px solid var(--orange);
  margin: 22px auto 32px;
}
.section-heading .text-small{
  margin: 0;
  font-family: var(--roboto);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
/*Small hero*/
.small-hero {
    background-color: var(--black);
    background-repeat: no-repeat;
    text-align: center;
    padding-top: 100px;
    color: var(--white);
    width: 100%;
    height: 646px;
}
section > .small-hero .container { 
    padding: 120px 0;
}
.small-hero h1 {
    margin: 150px 0 0;
    color: var(--white);
    font-family: var(--lora);
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 4.3125rem;
    display: block;
}
.small-hero p {
    margin: 10px 0;
    color: var(--white);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}
/*BUTTONS*/
/*g1*/
button.g1 {
    margin: 5px;
    display: inline-block;
    border-radius: 3px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    padding: 17px 34px 19px;
    transition: all 0.5s;
    cursor: pointer;
    text-transform: uppercase;
} 
button.g1:hover {background-color: var(--gray-2);}
button.g1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button.g1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    bottom: 1px;
    transition: 0.5s;
}
button.g1:hover span {padding-right: 25px;} 
button.g1:hover span:after {opacity: 1;right: 0;}

/*c2*/
button.c2 {
    display: inline-block;
    border-radius: 3px;
    background-color: var(--gray-3);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    padding: 17px 34px 19px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
} 
button.c2:hover {background-color: var(--gray-2);}
button.c2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button.c2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    bottom: 1px;
    transition: 0.5s;
}
button.c2:hover span {padding-right: 25px;} 
button.c2:hover span:after {opacity: 1;right: 0;}

/*a2*/
button.a2 {
    display: inline-block;
    border-radius: 3px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    padding: 17px 34px 19px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-transform: uppercase;
} 
button.a2:hover {background-color: var(--orange);}
button.a2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button.a2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    bottom: 1px;
    transition: 0.5s;
}
button.a2:hover span {padding-right: 25px;} 
button.a2:hover span:after {opacity: 1;right: 0;}

/*Button to top*/
#myBtn {
    display: none; 
    position: fixed; 
    bottom: 20px; 
    right: 30px;
    z-index: 99; 
    font-family: var(--roboto);
    font-size: 2rem;
    border:  2px solid var(--orange);
    outline: none; 
    background-color: var(--gray-2); 
    color: var(--white);
    cursor: pointer; 
    padding: 6px 15px; 
    border-radius: 50%; 
} 
#myBtn:hover {
    background-color: var(--orange);
    color: var(--white);
    border: 2px solid var(--white);
}
  
/*HEADER*/
/*Top orange line*/
header {
    background-color:var(--white);
    /* overflow: hidden; */
    position: fixed;
    display: block;
    width: 100%;
    z-index:100;
}
header .orange-container .container{
    color: var(--white);
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 55px;
    grid-template-areas: 
    "col-1 col-2"
}
header .orange-container .container .col-1{
    text-align: left;
    padding: 17px 0;
    font-family: var(--roboto);
    font-weight: 400;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 21px;
}
header .orange-container .container > ul{list-style-type: none;margin:0;padding:0;justify-content: flex-end;}
header .orange-container .container > ul > li > a{
    padding: 14px 16px;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 28px;
}
header .orange-container .container > ul > li > a:hover, header .orange-container .container > ul > li > a:active{
    color: var(--gray-3);
    cursor: pointer;
}
header .orange-container .container > ul > li:nth-child(3) > a{
    background-color: var(--gray-3);
    padding: 14px 16px 13px;
    cursor: pointer;
}
header .orange-container .container > ul > li:nth-child(3) > a:hover{
    background-color: var(--white);
    color: var(--gray-3);
}
/*Logo white container*/
header .white-container  {
    padding: 28px 15px 25px;
    color: var(--black);
    display:flex;
    justify-content: space-between;
}
header .white-container .logo{padding-top: 6px;}
header .white-container > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-2 col-4"
}
header .white-container > ul > li{margin-left: 20px;}
header .white-container h3{
    margin: 0;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 0.9375rem;
}
header .white-container p{
    margin: 0;
    padding: 5px 0;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 18px;
}
header .white-container .flex-row > div{margin-left: 10px;}
header .white-container .flex-row i{
    padding: 10px 11px;
    background-color: var(--white-f8);
    color: var(--orange);
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.6875rem;
}
header .white-container .flex-row i:hover{color: var(--gray-3);box-shadow: 0 0 10px var(--gray-3);}
header .white-container .flex-row a{color: var(--gray-ba);cursor: pointer;}
header .white-container .flex-row a:hover{color: var(--orange);}
  
 /* The side navigation menu */
.sidenav {
    height: 100%;
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; 
    z-index: 1; 
    top: 0; 
    right: 0;
    background-color: var(--gray-3);
    overflow-x: hidden;
    padding-top: 70px; 
    transition: 0.5s; 
    text-align: left;
}
.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: var(--white);
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {color: var(--orange);}
.sidenav .closebtn{
    position: absolute;
    top: 15px;
    right: 40px;
    font-size: 46px;
    margin-left: 50px;
}
.menu-button a{color: var(--orange);font-size: 1.6875rem;}
.menu-button a:hover{color: var(--gray-3);}
  
/*gray container*/ 
/*navigation*/
.gray-3-container ul{
    margin: 0;
    padding:0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.gray-3-container li{margin: 0 20px;}
.gray-3-container li a{
    color: var(--white);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    position: relative;
}
.gray-3-container li a:hover,.gray-3-container li a:active{
    color: var(--orange);
}
.gray-3-container li i {
    font-size: 0.5rem;
    margin: 8px 0 0 7px;
    position: absolute;
}
/*dropdown menu*/
.dropbtn {
    background-color: var(--gray-3);
    color: var(--white-f8);
    padding: 20px 3px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn i {top:17px;}
.dropbtn:hover, .dropbtn:focus {
    color: var(--orange);
}
.dropdown {
    margin: 0;
    position: relative;
    display: inline-block;
}
.dropdown-content {
    text-align: left;
    display: none;
    position: absolute;
    background-color: var(--orange);
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.5);
    z-index: 101;
}
.dropdown .dropdown-content a {
    color: var(--gray-2);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
    border-top: 1px solid var(--gray-4);
} 
.dropdown .dropdown-content a:hover {background-color: var(--gray-ba);color: var(--gray-2);}
.show {display: block;}

/*MAIN*/
/*HERO ngoo-Slideshow container */
.ngoo-slideshow-container {
    max-width: 1920px;
    position: relative;
    margin: auto;
    padding-top: 231px;
}
.ngoo-mySlides {
    display: none;
    position:relative;
}
.ngoo-fade {
    -webkit-animation-name: ngoo-fade;
    -webkit-animation-duration: 1.5s;
    animation-name: ngoo-fade;
    animation-duration: 1.5s;
}
/*NGOO Number text (1/3 etc) */
.ngoo-numbertext {
    color: var(--white-f8);
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}
.slider-content-text {
    margin-left: 40px;
    position: absolute;
    width: 535px;
    height: 285px;
    background-color: var(--gray-rgb-41);
    top: 268px;
    transform: translateY(-50%);
    border-radius: 5px;
    left: 10%;
    color: var(--gray-ba);
    padding: 5px;
}
.slider-content-text h1{
    margin:0;
    font-family: var(--lora);
    font-weight: 700;
    font-size: 3.375rem;
    color: var(--white);
}
.ngoo-fade-small-text {padding-bottom: 20px;}
.hero-slider {
    vertical-align: middle;
    width:100%;
}
/*NGOO Next & previous buttons */
.ngoo-prev, .ngoo-next {
    cursor: pointer;
    position: absolute;
    bottom:450px;
    width: auto;
    padding: 10px 16px;
    color: var(--white);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 50%;
    user-select: none;
}
/*NGOO Position the "ngoo-prev button" to the right */
.ngoo-prev {left: 48px;border-radius: 50%;}
/*NGOO Position the "ngoo-next button" to the right */
.ngoo-next {right: 48px;border-radius: 50%;}
/*NGOO On hover, add a black background color with a little bit see-through */
.ngoo-prev:hover, .ngoo-next:hover {
    background-color: var(--orange);
    border-radius: 50%;
}
/*NGOO Caption text */
.ngoo-text {
    margin: 0;
    background-color: var(--white);
    color: var(--gray-2);
    font-size: 15px;
    padding: 18px 12px;
    /* position: absolute; */
    bottom: 8px;
    width: 100%;
    text-align: center;
}
.ngoo-dot-center{
    text-align:center;
    background-color: var(--white);
}
/*NGOO The dots/bullets/indicators */
.ngoo-dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--gray-ba);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
/*NGOO*/
.ngoo-active, .ngoo-dot:hover {background-color: var(--gray-2);}

/*WE NEED YOUR HELP*/
.we-need{padding: 120px 15px;}
.help {
    justify-content: space-around;
    margin-top: 95px;
    margin-bottom: 84px;
}
.need-help-box {
    background-color: var(--white-f8);
    border-radius: 5px;
    max-width: 370px;
    text-align: left;
    margin: 0 10px;
    padding-bottom: 47px;
    box-shadow: 0 0 15px var(--gray-3);
}
.need-help-box:hover {box-shadow: 0 0 15px var(--orange);}
.need-help-box > img {
    border-radius: 5px 5px 0px 0px;
    width: 100%;
}
.need-help-box > div {padding: 34px 32px 5px;}
.need-help-box .text-small {color:var(--gray-4a);}
.need-help-box h6 {
    margin: 0 20px 0 0;
    color: var(--black);
    font-family: var(--lora);
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 27px;
    text-transform: uppercase;
}
.price-table {
    color:var(--gray-4a);
    display: block;
    width: 100%;
    border-bottom: 6px solid var(--gray-ba);
}
.price-table:after  {
    content: '';
    display: block;
    border-bottom: 6px solid var(--orange);
    margin-bottom: -6px;
    width: 80%;
}
.price-table span:nth-child(2){padding: 0 30px 0 10px;}
.we-need-button a { 
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--orange);
    border-radius: 3px;
    padding: 17px 36px 19px 37px;
    display: inline-block; 
    cursor: pointer;
}
.we-need-button a:hover, .we-need-button a:active{ 
    color: var(--white);
    background-color: var(--gray-2);
}
/* Urgent Cause*/
.urgent-cause {
    background-color: var(--gray-4);
    padding: 134px 15px 205px;
}
.urgent-cause-box {
    display: grid;
    grid-gap: 33px; 
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-2"
}
.urgent-left {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    text-align: left;
    color: var(--gray-4a);
}
.urgent-left h1 {
    text-align: left;
    color: var(--white);
    font-family: var(--lora);
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 69px;
    margin: 0 0 44px;
    display: block;
}   
.head-underline:after{
    content:"";
    display: block;
    width: 100px;
    border-top: 3px solid var(--orange);
    margin: 32px 0 32px;
}
.urgent-left p {color:var(--gray-ba);margin: 0 0 60px;}
.urgent-left h6 {
    margin: 0 0 14px;
    font-family: var(--lora);
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 27px;
    color: var(--orange);
}
.orange-long-line {
    position: relative;
    padding-bottom: 19px;
    width: 100%;
}
.orange-long-line:before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 9px;
    background-color: var(--white);
    border-radius: 10px;
    z-index: 1;
}
.orange-long-line:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 80%;
    height: 9px;
    background-color: var(--orange);
    border-radius: 10px;
    z-index: 2;
}
.urgent-right {
    position: relative;
    width: 100%;
    height: 436px;
    background-image: url(../images/lagos-techie.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    margin-top: 171px;
    padding-bottom: 20px;
    border-radius: 5px 5px 0px 0px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: center;
}  

/*how-help*/
.how-help {padding-top: 137px;}
.how-help-box {
  display: grid;
  grid-gap: 50px; 
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
  "col-1 col-2"
}
.how-help img {
  width: 100%;
  background-color: var(--gray-4a);
  margin: 35px 0 0;
} 
.how-help-right h1 {
  margin: 0;
  color: var(--gray-2);
  font-family: var(--lora);
  font-weight: 700;
  font-size: 3.375rem;
  line-height: 69px;
}
.how-help-right h1:after{
  content:"";
  display: block;
  width: 100px;
  border-top: 3px solid var(--orange);
  margin: 32px 0 57px;
}
.how-help-right p{
  margin: 0;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  color: var(--gray-2);
}
.how-help-right ul{
  margin: 0;
  padding: 0;
}
.how-help-right li, h5, p {
  list-style: none;
  display: inline-block;
  margin: 13px  0;
}
.how-help-icon {
  color:var(--white);
  background-color: var(--orange);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-weight: 900;
  font-size: 1.6875rem;
  text-align: center;
  padding-top: 20px;
}
.how-help-right h5 {
  font-family: var(--lora);
  font-weight: 700;
  font-size: 1.75rem;
  line-height: 36px;
  margin-top: 0;
  margin-left:10px;
  color: var(--gray-2);
}
.how-help-right  li p {
  margin: 0;
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1rem;
  line-height: 24px;
  padding: 0 0 0 90px;
}

/*we-help-many*/
.we-help-many {
    width: 100%;
    color: var(--white);
    background-color: var(--gray-2);
    background-image: url(../images/mask-group.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 124px 0;
    text-align: center;
}
.we-help-many  h1 {
    margin: 0;
    color: var(--white);
    font-family: var(--lora);
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 69px;
    text-align: center;
} 
.we-help-many  h4 {
    margin: 29px 0 0;
    color: var(--orange);
    font-family: var(--lora);
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 43px;
} 
.we-help-many  p {
    margin: 58px auto 0;
    max-width: 750px;
    color: var(--white);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    margin-bottom: 36px;
} 
.we-help-many a:first-child {
    color: var(--orange);
    background-color: var(--white);
}
.we-help-many a:first-child:hover, .we-help-many a:first-child:active{ 
    background-color:  var(--gray-4a);
}
.we-help-many a { 
    text-align: center;
    font-size: 1rem;
    letter-spacing: 0.02em;
    color: var(--white);
    text-transform: uppercase;
    text-decoration: none;
    background-color: var(--orange);
    border-radius: 3px;
    padding: 17px 36px 19px 37px;
    margin: 11px 5px 7px;
    display: inline-block; 
    cursor: pointer;
}
.we-help-many a:hover, .we-help-many a:active{ 
    color: var(--white);
    background-color: var(--gray-4a);
}

/*our-volunteers*/
.our-volunteers {
    text-align: center;
    padding: 123px 15px;
}
.volunteers-quotes {
    margin-top: 91px;
    padding: 0;
    display: grid;
    grid-gap: 37px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-2"
    "col-3 col-4"  
    "col-5 col-5"     
}
.volunteers-quotes li {
    max-width: 526px;
    list-style: none;  
}
.volunteers-quotes img {
    border-radius: 50%;
    max-height: 120px;
    max-width: 120px;
    box-shadow: 0 0 15px var(--gray-2);
}
.volunteers-quotes li > div {
    max-width: 526px;
    color: var(--gray-2);
    text-align: left;
    margin: 0;
    padding-left: 35px;
}
.volunteers-quotes li > div > h6 {
    margin: 23px 0 5px;
    color: var(--orange);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}

/*GALLERY - index page*/
.white-f1-container .section-heading{padding-top: 115px;}
.white-f1-container .foto {
    padding-top: 91px;
    padding-bottom: 91px;
    display: grid;
    grid-gap: 37px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-2 col-3"
    "col-4 col-5 col-6"  
}
.white-f1-container .foto-box {box-shadow: 0 0 15px var(--gray-2);}
.white-f1-container .foto-box > a > img {
    height: auto;
    width: 100%;
    display:block;
}

/*upcoming events*/
.upcoming-events {
    text-align: center;
    padding: 134px 0 153px;
    background-color: var(--gray-2);
    color: var(--white);
}
.events-boxes {
    display: grid;
    grid-gap: 38px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
        "col-1 col-2"
        "col-1 col-3"
        "col-1 col-4"   
}
.events-boxes-left {
    background-color: var(--gray-3);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: var(--white-f1);
    text-align: left;
    margin-top: 316px;
    padding: 27px;
    max-height: 370px;
}
.events-boxes-left h1 {
    margin: 0;
    font-family: var(--lora);
    font-weight: 700;
    font-size: 4.375rem;
    line-height: 90px;
    color: var(--white);
}
.events-boxes-left h4 {
    margin: 0;
    font-family: var(--lora);
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 43px;
    color: var(--orange);
}
.events-boxes-left a {
    margin: 0;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: var(--white);
}
.events-boxes-left a:hover {color: var(--orange);}
.events-boxes-right {
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
    color: var(--white-f1);
    text-align: left;
    padding: 10px;
}
.events-boxes-right h1.event-heding {
    font-family: var(--lora);
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 69px;
    color: var(--white);
    margin: 0;
}
.events-boxes-right h1.event-heding:after{
    content:"";
    display: block;
    width: 100px;
    border-top: 3px solid var(--white);
    margin: 32px 0 57px;
}
.events-list {
    margin: 0 35px 0 0;
    background-color: var(--orange);
    color: var(--white);
    text-align: center;
    display: block;
    height: 97px;
}
.events-list h1{
    margin: 0 ;
    width: 97px;
    color: var(--white);
    font-family: var(--lora);
    font-weight: 700;
    font-size: 3.375rem;
    line-height: 69px;
}
.events-list p {margin: 0;}
.events-boxes-right h6 {
   color: var(--white);
   font-family: var(--lora);
   font-size: 1.3125rem;
   font-weight: 700;
   line-height: 27px;
   margin: 0;
}

/*our-partners*/
.our-partners-con{
    padding: 114px 0 0;
}
.our-partners {
    margin: 60px 0 128px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.our-partners img{margin: 10px;}

/*FOOTER*/
/*orange-footer-bg*/
.orange-footer-bg{background-color: var(--orange);}
.orange-footer-bg .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 15px;
}
.orange-footer-bg .container h5{
    margin: 0;
    color:var(--white);
    font-family: var(--lora);
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 36px;
}

/*bottom-nav*/
.bottom-nav {
    width: 100%;
    color: var(--white);
    background-color: var(--gray-2);
    background-image: url(../images/mask-group.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top 123px center;
}
.bottom-box-col-i {
    padding: 121px 15px 144px;
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-2 col-3 col-4"
}
.bottom-nav .bottom-box-col-i li {margin: 8px 0 8px;}
.bottom-nav .bottom-box-col-i li:first-child {
    color: var(--orange);
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 24px;
}
.bottom-nav .bottom-box-col-i a {
    color:var(--white); 
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
    text-decoration: none;
}
.bottom-nav .bottom-box-col-i a:hover, .bottom-box-col-i a:active {
    color:var(--orange); 
}
.bottom-nav-boxes {
    margin-top: 0;
    text-align: left;
    list-style: none;
    padding: 0 25px 0 0;
}
.bottom-nav-boxes img {max-width: 158px;}
.chevron-icon-size {
    font-size: 0.7rem;
    padding: 0 5px;
}
.white-icon-align {display: flex;}
.white-icon-padding { padding-right: 9px;}
.heading-orange-line li:first-child:after {
    content:"";
    display: block;
    width: 50px;
    border-top: 1px solid var(--orange);
    margin: 16px 0 26px;
}
.social-icon-padding i  {
    margin: 28px 32px 0 0;
    font-size: 1.5rem;
    line-height: 28px;
    color: var(--orange);
}
.social-icon-padding i:hover {color: var(--white);}
  
/*gray-footer-bg*/
.gray-footer-bg{
    padding: 50px 0;
    color: var(--white);
    background-color: var(--gray-3);
    text-align: left;
    font-family: var(--openSans);
    font-weight: 400;
    font-size: 1rem;
    line-height: 22px;
}

/*PAGE ABOUT*/
.about-top {padding: 114px 0 126px;}
.about-top-box-left {text-align: left;}

.about-top-box-left a {
  text-align: center;
  font-size: 1rem;
  letter-spacing: 0.02em;
  color: var(--white);
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--orange);
  border-radius: 3px;
  padding: 17px 36px 19px 37px;
  margin: 11px 5px 7px;
  display: inline-block; 
  cursor: pointer;
}
.about-top-box-left a:hover, .about-top-box-left a:active{ 
  color: var(--white);
  background-color: var(--gray-2);
}
.about-top-box-right {
  margin-top: 33px;
  margin-bottom: 93px;
  position:relative;
  padding-right: 70px;
}
.about-top-box-right img{
  max-width: 400px;
  display: block;
}
.about-top-boxin {
  background-color: var(--orange);
  position:absolute;
  top:183px;
  right: 0;
  border: 10px solid var(--white);
  max-width: 303px;
  display: block;
  z-index:10;
}
.about-top-boxin img {display: block;}
.about-table {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(8, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
      "col-1 col-2 col-3 col-4 col-5 col-6 col-7 col-8" 
}
.about-table .pad {padding: 12px 0;}
.about-table ul{
    margin: 0;
    padding: 0;
}
.about-table  li{
  list-style: none;
  color: var(--gray-2);
}
.about-table  li:first-child{
  font-family: var(--lora);
  font-weight: 700;
  font-size: 2.8125rem;
  line-height: 58px;
}
.about-table li:last-child {
  font-family: var(--roboto);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 24px;
}
.about {padding: 114px 0 0;}
.about-box {
  display: grid;
  grid-gap: 48px; 
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: auto;
  grid-template-areas: 
    "col-1 col-2"
    "col-3 col-3"
}
.about-box-why {
    display: grid;
    grid-gap: 48px; 
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
      "col-1 col-2"
}
.about-box-left h1, .about-top-box-left h1 {
  margin: 0 0 44px;
  text-align: left;
  color: var(--gray-2);
  font-family: var(--lora);
  font-weight: 700;
  font-size: 3.375rem;
  line-height: 69px;
  display: block;
}   
.head-underline:after{
  content:"";
  display: block;
  width: 100px;
  border-top: 3px solid var(--orange);
  margin: 32px 0 32px;
}
.about-box-left p, .about-top-box-left p {
  margin-bottom: 47px;
  text-align: left;
}
.about-yout {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}
.about-yout iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border:none;
}
.about-box-right {margin-top: 143px;}
/* About START OF ACCORDION */
.accordion {
  margin: 5px;
  background-color: var(--gray-ba);
  color: var(--gray-4);
  cursor: pointer;
  padding: 19px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
  font-family: var(--lora);
  font-weight: 700;
  font-size: 1.125rem;
}
.active, .accordion:hover {background-color: var(--gray-4a);color: var(--white-f1);}
.accordion:after {
  content: '\002B';
  color: var(--orange);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}
.active:after {content: "\2212";}
.panel {
  padding: 0 18px;
  background-color: var(--white);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
/* END OF ACCORDION */

/*PAGE urgent couse single*/
.urgent-single-grid {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-1"
    "col-2 col-3"
}
.urgent-single-grid .col-2{
    margin: 0;
    padding: 50px 0;
    text-align: left;
    color: var(--gray-2);
}
.urgent-single-grid .col-2 h1{
   margin: 0;
   font-family: var(--lora);
   font-weight: 700;
   font-size: 3.375rem;
   line-height: 69px;
}
.urgent-single-grid .col-2 h3{
    margin:0;
    padding: 30px 0;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 28px;
}
.urgent-single-grid .col-2 p{
    margin:0;
    padding: 0 0 50px;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 24px;
}
.urgent-single-grid .col-2 h2{
    margin:0;
    font-family: var(--lora);
    font-weight: 700;
    font-size: 2.1875rem;
    line-height: 43px;
}
.urgent-single-grid .col-2 ol{
    margin:0;
    padding: 20px 0 50px 30px;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 1rem;
    line-height: 28px;
}
.urgent-single-grid .col-3 {
    padding: 220px 0 0;
    font-family: var(--lora);
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 27px;
    color: var(--orange);
    text-align: left;
}
.urgent-single-grid .col-3 img{
    padding: 30px 0;
    display: block;
    border-radius: 5px 5px 0 0;
}
.urgent-single-grid .col-3 .orange-long-line {
    position: relative;
    padding-bottom: 19px;
    width: 100%;
}
.urgent-single-grid .col-3 .orange-long-line:before {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 9px;
    background-color: var(--gray-ba);
    border-radius: 10px;
    z-index: 1;
}
.urgent-single-grid .col-3 .orange-long-line:after {
    content: '';
    position: absolute;
    bottom: 0;
    display: block;
    width: 80%;
    height: 9px;
    background-color: var(--orange);
    border-radius: 10px;
    z-index: 2;
}
.urgent-single-grid .col-3 h6{
    margin:0;
    font-family: var(--lora);
    font-weight: 700;
    font-size: 1.3125rem;
    line-height: 27px;
}

/*MEDIA SCREEN !!!*/
/*MEDIA SCREEN !!!*/
/*MEDIA SCREEN !!!*/
@media screen and (max-width: 1050px) {
    /*footer orange-footer-bg*/
    .orange-footer-bg .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      padding-bottom: 40px;
      text-align: center;
    }
    .orange-footer-bg button {
       margin-top: 20px; 
    }
    .our-partners {margin: 60px 0;}
    /*footer orange-footer-bg*/
    .bottom-nav .bottom-box-col-i {
        padding:30px;
        display: grid;
        grid-gap: 50px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 200px 200px;
        grid-template-areas: 
        "col-1 col-4"
        "col-2 col-3"
    }
    /*ABOUT PAGE*/
    .about-table {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: repeat(4, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
            "col-1 col-2 col-3 col-4"
            "col-5 col-6 col-7 col-8" 
    }
    /*PAGE urgent couse single*/
    .urgent-single-grid {
        display: grid;
        grid-gap: 30px;
        grid-template-columns:1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
        "col-3"
    }
    .urgent-single-grid .col-3{
        display: none;
    }
}

@media screen and (max-width: 950px){
    header .orange-container .col-1{
      display: none;
    } 
    /*top white-conatiner*/
    header .white-container .flex-row .hide-text {display: none;} 
    /*HERO*/
    .slider-content-text {display: none;}
    /*slider left right*/
    .ngoo-prev, .ngoo-next {
        position: absolute;
        bottom:45%;
    }
    /*hero slider*/
    .ngoo-slideshow-container {
        padding-top: 229px;
    }
    /*how-help*/
    .how-help {
        padding: 55px 0;
    }
    .how-help-box {
        display: grid;
        grid-gap: 30px; 
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
    }
    .how-help-right{margin-top: 50px;}
    /*our-volunteers*/
    .volunteers-quotes {
        display: grid;
        grid-gap: 38px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
        "col-3"
        "col-4"
    } 
    /*gallery*/
    .white-f1-container .foto {
        margin-top: 55px;
        display: grid;
        grid-gap: 27px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1 col-2"
        "col-3 col-4"
        "col-5 col-6"  
    } 
    /*events-boxes start*/
    .upcoming-events {padding: 0 0 20px;}
    .events-boxes {
        display: grid;
        grid-gap: 18px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1 col-1"
        "col-2 col-2"
        "col-3 col-4"   
    }
    .events-boxes-left {margin-top: 30px;} 
}
@media screen and (max-width: 850px){
    header .white-container > ul > li{margin-left: 15px;}
}

@media screen and (max-width: 800px) {
    /*top white-conatainer*/
    header .white-container > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: 
      "col-1 col-2"
    }
    header .white-container button{display: none;}
    /*WE-NEED*/
    .we-need{padding: 50px 15px;}
    .help {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
        "col-3"
    }
    .help .need-help-box {
        margin: 5px auto;
        max-width: 350px;
    }
    .we-need-button a { margin: 50px 0;}
    /*urgent-couse*/
    .urgent-cause {padding: 60px 0;}
    .urgent-cause-box {
        display: grid;
        grid-gap: 33px; 
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
        "col-1"
        "col-2"
    }
    .urgent-right {
        background-image: url(../images/lagos-techie.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        margin-top: 50px;
    }
    /*about-page*/
    .about-box {
        display: grid;
        grid-gap: 30px; 
        grid-template-columns:1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
          "col-1"
          "col-3"
    }
    .about-top-box-right{
        display: none;
    }
    .about-table {
        text-align: center;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: auto;
        grid-template-areas: 
            "col-1 col-2"
            "col-3 col-4"
            "col-5 col-6"
            "col-7 col-8" 
    }
    .about-box-why {
        display: grid;
        grid-gap: 10px; 
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
          "col-1"
          "col-2"
    }
}       

@media screen and (min-width: 650px) {
    /*top white-line*/
    .menu-button, .sidenav{display: none;}
    /*how-help*/
    .how-help-icon {
        width: 60px;
        height: 60px;
        text-align: center;
        padding-top: 16px;
    }
}
@media screen and (max-width: 650px) {
    .orange-container , .gray-container {display: none;}
    /*top white-container*/
    header .white-container {
      padding: 23px 15px 20px;
      background-color:var(--white-fa);
    }
    header .white-container > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: 
      "col-1 col-2 col-3"
    }
    header .white-container .flex-row > div{margin-left: 0;}
    header .gray-3-container{
        display: none;
    }
    /*HERO Slider*/
    .ngoo-slideshow-container {
        padding-top: 158px;
    }
    /*main we-help-many*/
    .we-help-many {padding: 60px 0;}
    /*gallery*/
    .white-f1-container .foto {
        margin: 0;
        display: grid;
        grid-gap: 27px;
        grid-template-columns:1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
            "col-1"
            "col-2"
            "col-3"
            "col-4"
            "col-5"
            "col-6"  
    }
    /*slider left right*/
    .ngoo-prev, .ngoo-next {
        position: absolute;
        bottom:35%;
    }
    .ngoo-prev {left: 28px;}
    .ngoo-next {right: 28px;}

    /*upcoming-events start*/
    .upcoming-events {
        text-align: center;
        padding:0;
    }
    .events-boxes {
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
            "col-1"
            "col-2"
            "col-3"
            "col-4"   
    }
    .events-boxes-left {padding:10px;max-height: 370px;margin-top: 30px;}
    /* .events-boxes-right {padding: 3px;} */
    .events-list {margin: 0 10px 0 0;}
    /*bottom nav*/
    .bottom-nav .bottom-box-col-i {
        padding: 40px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
            "col-1"
            "col-2"
            "col-3"
            "col-4"
    }
      
}
@media screen and (max-height: 450px) {
    /*top white-container*/
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    /*our-volunteers */
    .quotes-mobile {
        margin-top: 10px;
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: auto;
        grid-template-areas: 
            "col-1"
            "col-2"
            "col-3"
            "col-4"
            "col-5"
            "col-6"  
            "col-7"
            "col-8" 
    }
    .our-volunteers ul {
        margin: 0;
        padding:15px 0;
    }
    .volunteers-quotes li > img {
        margin: 0 auto 15px;
    }
    .volunteers-quotes li > div {
        text-align: center;
        margin: 0;
        padding-left: 5px;
    }
}  
@media screen and (max-width: 400px) {
    /*top white-container*/
    header .white-container > ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: 
      "col-1 col-3"
    }
    header .white-container .col-2{display: none;}
    /*footer bottom-nav*/
    .social-icon-padding i  {margin: 28px 22px 0 0;}
}

/*NGOO slider*/
@-webkit-keyframes ngoo-fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  /*NGOO slider*/
@keyframes ngoo-fade {
    from {opacity: .4} 
    to {opacity: 1}
}