
*,
*::before,
*::after {
    box-sizing: border-box;
}
:root {
    --orange: #ff7000;
    --white: #ffffff;
    --white-f8: #f8f8f8;
    --white-fa:#faf4f0;
    --white-f1:#f1f1f1;
    --gray-ba: #bababa;
    --gray-4a:#4a4a4a;
    --gray-4: #444444;
    --gray-3: #333333;
    --gray-2: #222222;
    --black: #000000;
    --roboto: 'Roboto', sans-serif;
    --lora:'Lora', serif;
    --openSans: 'Open Sans', sans-serif;
}
html {
  font-size: 16px;
  font-family: var(--roboto);
}
body {margin: 0; }

a {text-decoration: none; }

.orange-bg {background-color: var(--orange);}
.white-bg {background-color: var(--white);}
.gray-bg {background-color: var(--gray-3);}

.text-white {color:var(--white);}
.text-orange {color:var(--orange);}
.text-gray-3 {color:var(--gray-3);}

.col-1 { grid-area: col-1;}
.col-2 { grid-area: col-2;}
.col-3 {grid-area: col-3;}
.col-4 {grid-area: col-4;}
.col-5 {grid-area: col-5;}
.col-6 {grid-area: col-6;}
.col-7 {grid-area: col-7;}
.col-8 {grid-area: col-8;}
.col-9 {grid-area: col-9;}

.compensate-for-scrollbar .site-header {
  padding-right: 17px;/*OK reikalingas kad nustumtu skrollbara*/
}
.container{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1170px;
}
.white-container {text-align: center;background-color: var(--white);}
.orange-container {text-align: center;background-color: var(--orange);}
.gray-3-container {text-align: center;background-color: var(--gray-3);}

.flex-container {display: flex;}
.flex-col-1 {display: flex;flex-direction: column;}
.flex-row {display: flex;flex-direction: row;align-items: center;}
.flex-between {display: flex; justify-content: space-between;}
.flex-end {display: flex; justify-content: flex-end;}

.section-heading h1{
  font-family: var(--lora);
  font-weight: 700;
  font-size: 3.375rem;
  line-height: 69px;
  color: var(--gray-3);
}
.section-heading h1:after {
  content:"";
  display: block;
  width: 100px;
  border-top: 3px solid var(--orange);
  margin: 22px auto 32px;
}
.section-heading .text-small{
  font-family: var(--roboto);
  font-size: 1rem;
  font-weight: 400;
  line-height: 24px;
}
/*BUTTONS*/
button.g1 {
    margin: 5px;
    display: inline-block;
    border-radius: 3px;
    background-color: var(--orange);
    border: none;
    color: var(--white);
    text-align: center;
    font-size: 1rem;
    padding: 17px 34px 19px;
    transition: all 0.5s;
    cursor: pointer;
    text-transform: uppercase;
} 
button.g1:hover {background-color: var(--gray-2);}
button.g1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
button.g1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    right: -20px;
    bottom: 1px;
    transition: 0.5s;
}
button.g1:hover span {padding-right: 25px;} 
button.g1:hover span:after {opacity: 1;right: 0;}

/*HEADER*/
/*Top orange line*/
header {
    background-color:var(--white);
    overflow: hidden;
    position: fixed;
    display: block;
    width: 100%;
    z-index:100;
}
header .orange-container .container{
    color: var(--white);
    display:grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 55px;
    grid-template-areas: 
    "col-1 col-2"
}
header .orange-container .container .col-1{
    text-align: left;
    padding: 17px 0;
    font-family: var(--roboto);
    font-weight: 400;
    font-style: italic;
    font-size: 1.125rem;
    line-height: 21px;
}
header .orange-container .container > ul{list-style-type: none;margin:0;padding:0;justify-content: flex-end;}
header .orange-container .container > ul > li > a{
    padding: 14px 16px;
    color: var(--white);
    font-size: 1.5rem;
    line-height: 28px;
}
header .orange-container .container > ul > li > a:hover, header .orange-container .container > ul > li > a:active{
    color: var(--gray-3);
    cursor: pointer;
}
header .orange-container .container > ul > li:nth-child(3) > a{
    background-color: var(--gray-3);
    padding: 14px 16px 13px;
    cursor: pointer;
}
header .orange-container .container > ul > li:nth-child(3) > a:hover{
    background-color: var(--white);
    color: var(--gray-3);
}
/*Logo white container*/
header .white-container  {
    padding: 28px 15px 25px;
    color: var(--black);
    display:flex;
    justify-content: space-between;
}
header .white-container .logo{padding-top: 6px;}
header .white-container > ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    grid-template-areas: 
    "col-1 col-2 col-4"
}
header .white-container > ul > li{margin-left: 20px;}
header .white-container h3{
    margin: 0;
    font-family: var(--roboto);
    font-weight: 700;
    font-size: 0.9375rem;
}
header .white-container p{
    margin: 0;
    padding: 5px 0;
    font-family: var(--roboto);
    font-weight: 400;
    font-size: 0.9375rem;
    line-height: 18px;
}
header .white-container .flex-row > div{margin-left: 10px;}
header .white-container .flex-row i{
    padding: 10px 11px;
    background-color: var(--white-f8);
    color: var(--orange);
    cursor: pointer;
    border-radius: 50%;
    font-size: 1.6875rem;
}
header .white-container .flex-row i:hover{color: var(--gray-3);box-shadow: 0 0 10px var(--gray-3);}
header .white-container .flex-row a{color: var(--gray-ba);cursor: pointer;}
header .white-container .flex-row a:hover{color: var(--orange);}
  



/*MEDIA SCREEN !!!*/
/*MEDIA SCREEN !!!*/
/*MEDIA SCREEN !!!*/

@media screen and (max-width: 950px){
    header .orange-container .col-1{
      display: none;
    } 
    /*top white-conatiner*/
    header .white-container .flex-row .hide-text {display: none;} 
}
@media screen and (max-width: 800px) {
    /*top white-conatainer*/
    header .white-container > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: 
      "col-1 col-2"
    }
    header .white-container button{display: none;}
}       

@media screen and (min-width: 651px) {
    /*top white-line*/
    .menu-button, .sidenav{display: none;}
}
@media screen and (max-width: 650px) {
    .orange-container , .gray-container {display: none;}
    /*top white-container*/
    header .white-container {
      padding: 23px 15px 20px;
      background-color:var(--white-fa);
    }
    header .white-container > ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: 
      "col-1 col-2 col-3"
    }
    header .white-container .flex-row > div{margin-left: 0;}
}
@media screen and (max-height: 450px) {
    /*top white-container*/
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}  
@media screen and (max-width: 400px) {
    /*top white-container*/
    header .white-container > ul {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: auto;
      grid-template-areas: 
      "col-1 col-3"
    }
    header .white-container .col-2{display: none;}
    /*footer bottom-nav*/
    .social-icon-padding i  {margin: 28px 22px 0 0;}
}